.pacman {
  display: none;
  position: relative;
  padding-top: 3px;
  animation-name: pacman;
  animation-duration: 10s;
}

@keyframes pacman {
  0% {
    left: 0px;
    top: 0px;
  }

  100% {
    left: 100vw;
    top: 0px;
  }
}

.show {
  display: block;
}

.none {
  display: none;
}

.pacman-top {
  background-color: #ffab00;
  height: 25px;
  width: 50px;
  border-radius: 100px 100px 0 0;
  animation: spin1 0.5s infinite linear;
}

.pacman-bottom {
  background-color: #ffab00;
  height: 25px;
  width: 50px;
  border-radius: 0 0 100px 100px;
  animation: spin2 0.5s infinite linear;
}

/* Animation*/
@keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-35deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(35deg);
  }
}

@-moz-keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-35deg);
  }
}

@-moz-keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(35deg);
  }
}

@-webkit-keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-35deg);
  }
}

@-webkit-keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(35deg);
  }
}