@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');


$cor-primaria: #b71c1c;
$cor-secundaria: #b71c1c;
$branco: #fff;

.corFundo{
  background-color: $cor-primaria;
}

.corTexto{
  color: $cor-primaria;
}
.textoBranco{
  color: $branco;
}

.brand-logo {
  font-style: 12px !important;
}

.pagination{
  li:active{
      background-color: $cor-primaria;
  }

  li{
    .active{
      background-color: $cor-primaria !important;
    }
  }

}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.front-logo {
  font-size: 90%;
  font-family: 'Fredoka One', cursive;
}

.back-logo {
  font-size: 90%;
  font-family: 'DM Sans', sans-serif;
}

.pageLogin{
  margin-top: 60px;
  height: 70vh;
  margin-bottom: 30px;
}
